@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  background: #020617;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
